{% extends "layout.html" %}
{% block title %}Sign-up{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100" style="max-width: 400px;">
        <form action="/sign-up" method="POST" class="border p-4 rounded shadow bg-light">
            <h2 class="mb-4 text-center">Sign Up</h2>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter a username" required name="username">
            </div>

            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Enter an email" required name="email">
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter a password" required name="password">
            </div>

            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}